.App {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: start;
    background-color: #fff;
}
.App:has(#subNav) main { height: 80vh; }
main {
    width: 100vw;
    height: 90vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
}
main > form {
    flex-basis: 50%;
}

.manageFormSelect {
    color: #0088FF;
    font-weight: bold;
    font-size: 2rem;
}

button {
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1rem;
    border-radius: 3rem;
    height: 5rem;
    border: 0.25rem solid #0088FF;
    background-color: transparent;
    color: #0088FF;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    transition: all 0.125s;
}
button:hover {
    background-color: #0002;
}
button:active {
    color: #fff;
    background-color: #0088FF;
}



#dashboard {
    display: flex;
    flex-direction: column;
    height: 65vh;
    width: 90%;
}
.widget {
    background-color: #eee;
    margin: 1rem;
    border-radius: 10px;
    padding: 1rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#settings {
    height: 8vh;
    width: 8vh;
    background-image: url(../media/settings.svg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    background-color: #FFF;
    border-radius: 100%;
    position: absolute;
    bottom: 1vh;
    right: 1vh;
    z-index: 1000;
    cursor: pointer;
}

#modalWrap {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    animation: moveIn 1s;
}
#modal {
    background-color: #FFF;
    height: 95vh;
    padding-top: 35vh;
    padding-bottom: 35vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}
.closeBtn {
    position: absolute;
    top: 1vh;
    right: 1vh;
    height: 8vh;
    width: 8vh;
    cursor: pointer;
}
.closeBtn div {
    background-color: #0088FF;
    width: 1vh;
    height: 8vh;
    position: absolute;
    left: 3.5vh;
    transform: rotate(45deg);
}
.closeBtn div:nth-child(2) {
    transform: rotate(135deg);
}

#modal h2, #modal h3 {
    flex-basis: 100%;
    text-align: center;
}

#logout {
    height: 8vh;
    width: 8vh;
    background-image: url(../media/logout.svg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    background-color: #0088FF;
    border-radius: 100%;
    cursor: pointer;
}

@keyframes moveIn {
    0% {
        bottom: 100vh;
    }
    100% {
        bottom: 0;
    }
}
@keyframes fadeIn {
    0%,50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#title h1 { margin-right: 1rem; }

#refresh {
    background-image: url(../media/refresh.svg);
    background-size: 100%;
    height: 3rem;
    width: 3rem;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 100%;
    transition: all 0s;
    cursor: pointer;
    transform: rotate(0deg);
}
#refresh:hover { transform: rotate(180deg); transition: all 0.5s; }

#refresh:active { transform: rotate(180deg); transition: all 0.5s; }

#list {
    padding: 1vh;
    overflow-y: auto;
    height: 65vh;
}
.listItem {
    box-shadow: 0 0 10px #0003;
    width: 90vw;
    border-radius: 20px;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2rem;
}
.listItemMain {
    flex-basis: 100%;
    display: grid;
    grid-template-columns: 1fr 6vh 6vh;
    align-items: center;
    justify-content: space-between;
}
.listItemMain h3 {
    font-size: 1.5rem;
}
.listItemMain .details,
.listItemMain .edit {
    height: 5vh;
    width: 5vh;
    background-image: url(../media/description.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    cursor: pointer;
}
.listItemMain .edit {
    background-image: url(../media/edit.svg);
}
.listItemDetails {
    width: 90%;
    overflow: hidden;
    max-height: 25vh;
    transition: all 0.5s linear;
}
.listItemDetails h4 { margin: 0.25rem; }
.listItemDetails p {
    margin: 0;
    margin-left: 1rem;
}
.listItemDetails.hidden { max-height: 0vh; }
.listItem:has(.add) { cursor: pointer; }
/* Market Products Section */
.table {
    margin: 0;
    max-height: 18vh;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    overflow-y: auto;
}
.tr:nth-child(even) { background-color: #fff; }
.tr:nth-child(odd) { background-color: #f8f8f8; }
.tr.thead {
    position: sticky;
    font-weight: bold;
    background-color: #fff;
    flex-basis: content;
    flex-grow: 0;
}
.thead .th {
    text-align: center;
}
.table:has(.remove) .thead .th {
    text-align: center;
}
.table:has(.remove) .thead .th:first-child,
.thead .th:first-child {
    text-align: left;
}
.tbody {
    padding: 0;
    width: 100%;
}
.tr {
    display: grid;
    grid-template-columns: 3fr repeat(3, 1fr);
    border-bottom: 0.25vh solid black;
    flex-grow: 1;
}
.table.edit .tr {
    grid-template-columns: 3fr 1fr 1fr;
}
.table.two .tr,
.tr.send {
    grid-template-columns: 3fr 1fr;
}
.table.reportSales .tr { grid-template-columns: 30% 30% 30% 10%; }
.td {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Azeret Mono", "Courier New", Courier, monospace;
}
.td:has(input) {
    justify-content: center;
}
.td:first-child {
    justify-content: start;
}
.table .td input {
    width: 2rem;
    padding: 0;
    margin: 0;
    text-align: center;
}

.modalWrap {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0vh;
    backdrop-filter: blur(5px);
    background-color: #FFF8;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: moveIn 0.25s;
    overflow: hidden;
}
.modal {
    width: 100vw;
    max-height: 100vh;
    background-color: #fff;
    position: relative;
    padding: 1rem;
    padding-top: 9vh;
    box-shadow: 0 5px 10px #0003;
}
.popupForm {
    display: flex;
    flex-wrap: wrap;
    max-height: 70vh;
    overflow-y: auto;
}
.popupForm > div {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
    width: 100%;
}
.popupForm label {
    flex-basis: 100%;
    padding: 0.5rem;
    color: #0088FF;
    font-weight: bold;
    font-size: 1.25rem;
}
.popupForm div input,
.select {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1rem;
    padding: 0.125rem;
    flex-grow: 1;
}
.select > div > div {
    max-height: 4rem;
    overflow-y: auto;
}
.popupForm div:has(button) {
    margin-top: 1rem;
    justify-content: center;
    flex-grow: 1;
}
.modal .popupForm button {
    width: 90%;
    margin: 0;
}
.modal .popupForm .half button {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal .popupForm .half {
    justify-content: space-between;
}
.modal .popupForm button.deleteBtn {
    color: red;
    border-color: red;
}
.modal .popupForm button.deleteBtn:active {
    background-color: red;
    color: #fff;
}
.modal .popupForm div:has(.addBtn) {
    justify-content: space-between;
}
.modal .popupForm .addBtn {
    background-image: url(../media/add.svg);
    background-size: 125%;
    background-position: center center;
    background-repeat: no-repeat;
    width: 2rem;
    height: 2rem;
    padding: 0;
    border-radius: 0;
    border: none;
}
.modal .popupForm .table {
    max-height: 8rem;
    width: 100%;
}

.banner {
    position: fixed;
    top: 0vh;
    margin-top: 1vh;
    padding: 1rem;
    width: 90vw;
    border-radius: 0.5rem;
    text-align: left;
    z-index: 1000000;
    font-weight: bold;
    font-family: "Azeret Mono", "Courier New", Courier, monospace;
    animation: notify 3.5s ease-in-out;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0.25rem solid #000;
}
.banner div:has(.msg) {
    padding-left: 1rem;
}
.banner .msg {
    color: #000D;
    flex-grow: 1;
    margin: 0;
    padding: 0;
}
.banner:has(.success) { background-color: lime; }
.banner:has(.info) { background-color: gold; }
.banner:has(.error) { background-color: red; }
.banner .icon {
    height: 2rem;
    width: 2rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 125%;
    border-radius: 100%;
    flex-shrink: 0;
}
.success { background-image: url(../media/success.svg); }
.info { background-image: url(../media/info.svg); }
.banner .error { background-image: url(../media/error.svg); }

@keyframes notify {
    0% {
        opacity: 0;
        top: -50vh;
    }
    1% { opacity: 1; }
    25%, 75% {
        top: 0vh;
    }
    99% { opacity: 1; }
    100% {
        opacity: 0;
        top: -50vh;
    }
}

#reportMenu {
    width: 100%;
}
#reportMenu form {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#reportMenu form > div {
    margin-bottom: 4rem;
    height: 4vh;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#reportMenu form div label {
    flex-basis: 70%;
}
#reportMenu .reportSelect {
    flex-basis: 70%;
}
#reportMenu form div > input {
    height: 2rem;
    flex-basis: 70%;
}

#reportWrap {
    position: fixed;
    top: 0vh;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: #FFF8;
    display: flex;
    align-items: center;
    justify-content: center;
}
#report {
    width: 100%;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 0 10px #0008;
    position: relative;
}
#report .data {
    color: #000;
    font-weight: normal;
}
#report h2 {
    width: 80%;
}
#report .reportHeader {
    display: flex;
    width: 80%;
    align-items: center;
}
#report .reportHeader h2 {
    flex-shrink: 1;
    flex-basis: content;
    margin-right: 1rem;
}
#report .reportHeader h3 {
    flex-grow: 1;
    color: #000;
    font-weight: normal;
    flex-basis: content;
}
.reportBtnWrap {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 700px) {
    .App { overflow: hidden; }
    header nav {flex-basis: 50vw;}
    #subNav { flex-basis: 50%; }
    #report { width: 50%; }
    #list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 30%;
    }
    .listItem { width: 90%; }
    .modal { width: 50%; }
    .popupForm > div { width: 100%; }
    .modal .half { width: 100%; }
    #dashboard { align-items: center; }
    .widget { width: 30%; }
}