.editorForm {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    justify-content: center;
}
.editorForm div {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 3rem;
    margin-bottom: 4rem;
}
.editorForm div label {
    flex-basis: 100%;
    padding-right: 1rem;
    font-size: 1.5rem;
}
.editorForm div:has([type="checkbox"]) * {
    flex-basis: 10%;
}
.editorForm div input[type="text"] {
    flex-basis: 100%;
    font-size: 1.5rem;
}
.editorForm input[type="checkbox"] {
    width: 2rem;
    height: 2rem;
}
.editorForm select {
    flex-basis: 100%;
    font-size: 1.5rem;
}
.editorForm button {
    cursor: pointer;
}
.editorForm h4 {
    flex-basis: 100%;
    color: red;
    text-align: center;
}
.editorForm:has(select) div {
    flex-basis: 50%;
    margin-left: 20%;
    margin-right: 20%;
}