.signInForm {
    height: 50vh;
    width: 50vw;
    border-radius: 20px;
    padding: 5%;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 10px #0008;
    align-items: center;
}
.signInForm h2 {
    font-size: 2rem;
    text-align: center;
}
.signInForm div {
    width: 50%;
}
.signInForm label {
    font-size: 1.5rem;
    font-weight: bold;
}
.signInForm input {
    height: 2.5rem;
    padding: 0.5rem;
    margin-bottom: 1.5rem;
    font-family: "Oxygen Mono", 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    border: 0.25rem solid #000;
    border-radius: 1rem;
}
.signInForm button {
    width: 20%;
}


@media screen and (max-width: 500px) {
    .signInForm {
        width: 100vw;
        border-radius: 0;
        box-shadow: none;
    }
    .signInForm button {
        width: 30%;
        margin-left: 35%;
    }
}