.signInForm {
    max-height: 70%;
    width: 50%;
    border-radius: 20px;
    padding: 5%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 10px #0008;
    align-items: center;
    justify-content: space-between;
}
.signInForm div {
    width: 70%;
    display: flex;
    flex-direction: column;
}
.signInForm label {
    font-size: 1.5rem;
    font-weight: bold;
}
.signInForm input {
    height: 2.5rem;
    padding: 0.5rem;
    margin-bottom: 1.5rem;
    font-family: "Azeret Mono", 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    border: 0.25rem solid #000;
    border-radius: 1rem;
}
.signInForm button {
    min-width: 20%;
}
.signInForm h4, .signInForm h1 {
    text-align: center;
    margin: 0;
    padding: 0;
}
.signInForm .error { color: red; }

@media screen and (max-width: 500px) {
    .signInForm {
        width: 100vw;
        height: 90vh;
        border-radius: 0;
        box-shadow: none;
    }
    .signInForm > div {
        width: 90vw;
        display: flex;
        flex-wrap: wrap;
    }
    .signInForm input { flex-grow: 1; }
    
    .signInForm button { width: unset; }
}